# ---- project ignores ----
flame-env/                 # your virtual-env
__pycache__/
*.pyc
*.pyo
*.ipynb_checkpoints


# ---- large logs / checkpoints ----
checkpoints/
runs/

CVSubset/
*.tiff
*.jpg
*.zip
__pycache__/

flame-env/

NADIRPlots.zip/
unzip.py/